

.flex{
    display: flex;  
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

#cocalogo{
    border-radius: 20px;
}

.flex-buttons{
    display: flex;
    justify-content: flex-end;
    text-align: right;
    margin-right: 20px;
    justify-content: space-between;
    gap: 10px;
}

.btn-danger a{
    text-decoration: none;
    color: white;
}

#can{
    display: flex;
    justify-content: center;
    padding-top: 152.5px;
}

#can img{
    width: 100%;
}

.flex-card{
    display: flex;
    justify-content: space-around;

}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 2px 4px 10px black;
    padding: 10px;
}




header{
    width: 100%;
    position: fixed;
    z-index: 1;
}

main {
    display: block;
    background-color: rgb(207, 36, 36);
}

.card-story {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-top: 200px;
}

.card-story img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}